body {
    margin: 0;
    max-width: 2500px;
    height: 100vh;
    align-items: center;
}

.main {
    width: 100%;
    max-width: 1200px;
    padding-top: 40px;
    margin:auto ;
    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

.gif-player {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 2% ;
    margin-bottom: 2%;
}

.main p {
    font: 1.1rem sans-serif;
    padding: 0 5% 0 5%;
}

.main h3 {
    font: 1.3rem sans-serif;
    font-weight: bold;
}

.main h2 {
    font: 1.7rem sans-serif;
    font-weight: bolder;
}

@media screen and (max-width: 700px) {
    .main p {
        font-size: 1rem;
    }
    
    .main h3 {
        font-size: 1.15rem;
    }

    .main h2 {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 500px) {
    .main p {
        font-size: 0.8rem;
    }

    .main h3 {
        font-size: 1rem;
    }

    .main h2 {
        font-size: 1.2rem;
    }
    
}

.scholar {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: left;
    margin: 2% auto;
    margin-left: 2%;
}

.reversed {
    flex-direction: row-reverse;
}

.reversed .scholar-image {
    margin-right: 0;
}



.scholar-information {
    max-width: 40%;
    margin: auto 5%;
}



.scholar-image {
    margin:auto 5%;
    min-width: 40%;
}

@media screen and (max-width: 700px) {
    .scholar {
        flex-direction: column; 
        text-align: center;
    }

    .scholar-image {
        max-height: 90vh;
        width: auto;
        max-width: 90vw;
        min-width: 90%;
    }
}
 
.cover {
    align-items: center;
    margin: 5vh auto 10vh auto;
}

.cover img {
    max-height: 80vh;
    width: auto;
    max-width: 90vw;
}
 
.box {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    text-align: left;
    margin: 2% auto;
    margin-left: 2%;
}

.content {
    width: 40%;
    min-width: 40%;
    margin: auto 5%;
}

.wide {
    width: 90%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.content img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 700px) {
    .box {
        flex-direction: column; 
        text-align: center;
    }

    .content {
        width: 80%;
    }

    .content img {
        
        
        
    }
}



/* nav bar */
.topnav {
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
    display:block;
    position: fixed;
}

.topnav-content {
    margin: auto;
    max-width: 1600px;
}
  
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
}
 
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #d5ad56;
    color:whitesmoke;
    text-decoration-line: underline;
    text-decoration-thickness: 15%;
}

.topnav a.title {
    background-color: #f2f2f2;
    font-size: 1rem;
}
  

.topnav .icon {
    display: none;
}


@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}
  
@media screen and (max-width: 700px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
.topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* footer */

.footer {
    width: 100%;
    background-color: black;   
    padding: 0  ;
    margin-top: auto;
}

.footer img {
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
    max-height: 80px;
}

.footer b {
    font-size: 1.1rem;
}

.footer p , .footer .fa {
    font-size: 0.7rem; 
    color: whitesmoke;
}

.footer-content {
    padding: 0 ;
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.footer-content ui {
    max-width: 500;
}

.footer-content li {
    padding: 0 5% 0 5%;
    display: block;
    max-width: 30%;   
}

@media (max-width:700px) {
    .footer-content {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .footer-content li {
        margin-top: 10px;
      margin-bottom: 10px;
      max-width: 50%;
    }
}